.content {
    display: flex;
    flex-direction: row;
}

.left-list {
    flex: 1;
    text-align: center;
}

.right-list {
    flex: 1;
    text-align: center;
}

.ids {
    visibility: hidden;
}

.posts {
    cursor: pointer;
}

.text-area {
    height: 40px;
}