<div class="content">
    <div id="all-posts" class="left-list">
        <div class="left-list-posts">
            <h2>All Posts</h2>
            <p><i>Click title to view post</i></p>
            <h3>Titles:-</h3>
            <ng-container *ngFor="let post of posts">
                <div class="posts" *ngIf="post!='null'">
                    <div (click)='openPost(post.id)'>
                        {{post.title}}
                    </div>
                    <div class="ids">{{post.id}}</div>
                </div>
            </ng-container>
            <div id="surprise" class="posts">
                <div (click)='open($event)'></div>
                <div class="ids"></div>
            </div>
        </div>
        <div class="left-list-add">
            <button class="submit" (click)=addPost()>Add post</button>

        </div>
    </div>
    <div class="right-list">
        <div class="right-post" *ngIf="this.openpost===true">
            <h2>Post</h2>
            <h3>Post Title: </h3>
            <h4>{{title}}
            </h4>
            <h3>Post Body:</h3>
            <p>{{body}}</p>
            <div>
                <h3>Images:</h3>
                <img src="" alt="{{images}}">
            </div><br>
            <button class="submit" (click)="delete(id)">Delete this Post</button>
        </div>
        <div class="right-add" *ngIf="this.addpost===true">
            <form [formGroup]="postform">
                <h2>New Post</h2>
                <label>Enter Title :</label>
                <p>
                    <input [formControl]="this.control.postform.title" id="input-title" type="text" placeholder="Enter Your Title" onfocus="this.value=''">
                </p>

                <label>Enter Body :</label>
                <p>
                    <textarea id="input-body" class="inputs" placeholder="Enter body here..." cols="30" rows="10" [formControl]="this.control.postform.body" onfocus="this.value=''"></textarea>
                </p>
                <label>Choose upto 3 Images :</label>
                <p>
                    <input [formControl]="this.control.postform.images" type="file" placeholder="Upload your images" (change)="selectMultipleImage($event)" multiple>
                </p>

                <button class="button" (click)="submit($event)">ADD</button>

            </form>
        </div>
    </div>
</div>